html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: arial, helvetica, sans-serif;
    font-size: 17px;
    line-height: 20px;
    color: #000000;
    word-break: break-word;
}

a {
    color: inherit;
    text-decoration: none;
}

*, *:before, *:after {
    box-sizing: border-box;
    outline: none;
    font: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    background: none;
    color: #5a5a5a;
    border: none;
    word-break: break-word;
}

@keyframes animationRotate {
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes animationOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.app {
    position: relative;
    width: 375px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    overflow: hidden;
}

@media only screen and (max-width: 767px) {
    .app {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.layer {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e6e6e6;
    height: 100%;
    overflow: auto;
    border-radius: 30px;
    scroll-behavior: smooth;
}

@media only screen and (max-width: 767px) {
    .layer {
        border-radius: 0;
    }
}

.layer::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.layer::-webkit-scrollbar-track {
    background: rgb(0 0 0 / 0%);
}

.layer::-webkit-scrollbar-thumb {
    background: rgb(0 0 0 / 15%);
}

.layer::-webkit-scrollbar-thumb:hover {
    background: #168afe;
}

.header {
    margin: 10px 10px 10px 10px;
    padding: 0 50px 0 50px;
    background: #e6e6e6;
    position: relative;
    word-break: break-all;
    position: sticky;
    top: 0;
    z-index: 10;
    border-radius: 0 0 15px 15px;
    display: flex;
    flex-direction: column;
    min-height: 50px;
    justify-content: center;
    align-items: center;
}

.header-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header-text-small {
    font-size: 12px;
    line-height: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header-avatar {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 42px;
    height: 42px;
    border-radius: 24px;
    overflow: hidden;
    cursor: pointer;
    background: #ffffff;
}

.header-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-icon {
    cursor: pointer;
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    filter: brightness(0%);
    background-size: cover;
}

.header-icon:hover {
    filter: none;
}

.header-icon--left {
    top: 15px;
    left: 15px;
    background-image: url(./images/icon/left.svg);
}

.header-icon--cross {
    top: 15px;
    right: 15px;
    background-image: url(./images/icon/cross.svg);
}

.header-icon--menu {
    top: 15px;
    right: 50px;
    background-image: url(./images/icon/menu.svg);
}

.header-icon--search {
    top: 15px;
    right: 15px;
    background-image: url(./images/icon/search.svg);
}

.header-icon--mail {
    top: 15px;
    right: 50px;
    background-image: url(./images/icon/mail.svg);
}

.block1 {
    margin: 0 10px 10px 10px;
    padding: 15px 0;
    position: relative;
    background: #ffffff;
    border-radius: 15px;
}

.block1-avatar {
    position: absolute;
    top: 10px;
    left: 4px;
    width: 42px;
    height: 42px;
    border-radius: 24px;
    overflow: hidden;
    cursor: pointer;
    background: #e6e6e6;
}

.block1-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.block1-avatar.left-1 {
    position: absolute;
    top: 9px;
    left: 9px;
}

.block1-line-name {
    display: flex;
    width: 100%;
    padding: 0 15px 0 50px;
}

.block1-line-name-left {
    width: 100%;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.block1-line-name-right {
}

.block1-name {
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.block1-line-login {
    display: flex;
    padding: 0 15px 0 50px;
}

.block1-login {
    font-size: 12px;
    line-height: 13px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.block1-link-login {
    color: #168afe;
    cursor: pointer;
}

.block1-link-hashtag {
    color: #168afe;
    cursor: pointer;
}

.block1-date {
    white-space: nowrap;
    font-size: 12px;
    cursor: pointer;
    white-space: nowrap;
}

.block1-text {
    padding: 7px 15px 0 50px;
}

.block1-line-image {
    padding: 10px 15px 0 50px;
    position: relative;
    white-space: nowrap;
}

.block1-image-count {
    display: block;
    position: absolute;
    top: 15px;
    left: 15px;
    width: 20px;
    height: 20px;
    font-size: 12px;
    text-align: center;
}

.block1-image {
    width: 100%;
    padding-bottom: 66.66%;
    overflow: hidden;
    position: relative;
    border-radius: 12px;
    background: #e4e4e4;
    cursor: pointer;
}

.block1-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.btn {
    margin: 0 10px 10px 10px;
    padding: 15px 15px 15px 50px;
    background: #ffffff;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    word-break: break-all;
}

.btn:hover {
    color: #168afe;
}

.btn.btn--icon-left:before {
    content: "";
    display: block;
    position: absolute;
    top: 15px;
    left: 15px;
    width: 20px;
    height: 20px;
    filter: brightness(0%);
    background-size: cover;
}

.btn.btn--icon-left:hover:before {
    filter: none;
}

.btn.btn--icon-left.btn--icon-plus:before {
    background-image: url(./images/icon/plus.svg);
}

.btn.btn--icon-left.btn--icon-checked:before {
    background-image: url(./images/icon/checked.svg);
}

.btn.btn--icon-left.btn--icon-plane:before {
    background-image: url(./images/icon/plane.svg);
}

.btn.btn--icon-left.btn--icon-signIn:before {
    background-image: url(./images/icon/signIn.svg);
}

.btn.btn--icon-left.btn--icon-signOut:before {
    background-image: url(./images/icon/signOut.svg);
}

.btn.btn--icon-left.btn--icon-cross:before {
    background-image: url(./images/icon/cross.svg);
}

.btn.btn--icon-left.btn--icon-search:before {
    background-image: url(./images/icon/search.svg);
}

.btn2 {
    padding: 15px 45px 15px 15px;
    background: #ffffff;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
}

.btn2--no-text {
    padding: 15px 35px 15px 15px;
}

.btn2:hover {
    color: #168afe;
}

.btn2.btn2--icon-right:after {
    content: "";
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
    filter: brightness(0%);
    background-size: cover;
}

.btn2.btn2--icon-right:hover:after {
    filter: none;
}

.btn2.btn2--icon-right.btn2--icon-right-right:after {
    background-image: url(./images/icon/right.svg);
}

.btn2.btn2--icon-right.btn2--icon-right-plus:after {
    background-image: url(./images/icon/plus.svg);
}

.btn2.btn2--icon-right.btn2--icon-right-plane:after {
    background-image: url(./images/icon/plane.svg);
}

.btns {
    margin: 0 10px 10px 10px;
}

.btns.btns--align-right {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.input {
    display: block;
    margin: 0 10px 10px 10px;
    padding: 15px 15px 15px 50px;
    background: #ffffff;
    border-radius: 15px;
    position: relative;
}

.input:before {
    content: "";
    display: block;
    position: absolute;
    top: 15px;
    left: 15px;
    width: 20px;
    height: 20px;
    filter: brightness(0%);
    background-size: cover;
}

.input.input--icon-pen:before {
    background-image: url(./images/icon/pen.svg);
}

.input.input--icon-user:before {
    background-image: url(./images/icon/user.svg);
}

.input.input--icon-lock:before {
    background-image: url(./images/icon/lock.svg);
}

.input.input--icon-mail:before {
    background-image: url(./images/icon/mail.svg);
}

.input.input--icon-phone:before {
    background-image: url(./images/icon/phone.svg);
}

.input-input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: none;
    background: rgb(0 0 0 / 0%);
    border: 0;
    padding: 0;
    margin: 0;
    font-family: arial, helvetica, sans-serif;
    color: #000000;
    font-size: 17px;
    line-height: 20px;
    width: 100%;
    position: relative;
}

.input-input:valid {
    top: 8px;
}

.input-input::placeholder {
    color: #000000;
}

.input-placeholder {
    display: none;
}

.input-input:valid + .input-placeholder {
    display: block;
    font-size: 12px;
    line-height: 14px;
    position: absolute;
    top: 8px;
}

.input-line-image {
}

.input-image {
    width: 100%;
    padding-bottom: 66.66%;
    overflow: hidden;
    position: relative;
    border-radius: 12px;
    background: #e4e4e4;
    cursor: pointer;
}

.input-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.input-textarea {
    display: block;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: none;
    background: rgb(0 0 0 / 0%);
    border: 0;
    padding: 0;
    margin: 0;
    font-family: arial, helvetica, sans-serif;
    color: #000000;
    font-size: 17px;
    line-height: 20px;
    width: 100%;
    min-height: 20px;
    position: relative;
}

.input-textarea::placeholder {
    color: #000000;
}

.input-icon-search {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
    filter: brightness(0%);
    background-size: cover;
    background-image: url(./images/icon/search.svg);
}

.input-icon-search:hover {
    filter: none;
}

.image {
    margin: 0 10px 10px 10px;
    padding: 15px 0;
    position: relative;
    background: #ffffff;
    border-radius: 15px;
}

.image-icon-delete {
    content: "";
    display: block;
    position: absolute;
    top: 15px;
    left: 15px;
    width: 20px;
    height: 20px;
    filter: brightness(0%);
    background-size: cover;
    background-image: url(./images/icon/cross.svg);
    cursor: pointer;
}

.image-icon-delete:hover {
    filter: none;
}

.image-line-image {
    padding: 0 15px 0 50px;
}

.image-image {
    width: 100%;
    padding-bottom: 66.66%;
    overflow: hidden;
    position: relative;
    border-radius: 12px;
    background: #e4e4e4;
    cursor: pointer;
}

.image-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

@media only screen and (min-width: 768px) {
    .page {
        flex-direction: row;
        justify-content: center;
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .app {
        width: 375px;
        margin-right: 40px;
        max-height: 812px;
    }

    .description-text {
        display: block;
        max-width: 450px;
        font-size: 16px;
        line-height: 1.6;
        color: #000000;
        padding-right: 20px;
        text-align: justify;
    }

    .description-text .section {
        margin-bottom: 30px;
    }

    .description-text {
        line-height: 1.6;
        color: #333;
    }

    .description-text h2 {
        font-size: 24px;
        margin-bottom: 15px;
        font-weight: bold;
        text-align: left;
    }

    .description-text p {
        margin-bottom: 15px;
    }

    .description-text ul {
        list-style-type: disc;
        padding-left: 20px;
        margin-bottom: 0;
    }

    .description-text ul li {
        margin-bottom: 0;
    }

    .description-text a {
        color: #5a5a5a;
        text-decoration: none;
    }

    .description-text a:hover {
        text-decoration: none;
    }

    .description-text .link {
        color: #168afe;
        text-decoration: none;
        font-weight: bold;
    }

    .description-text .link:hover {
        color: #1268c7;
        text-decoration: none;
    }
}

@media only screen and (max-width: 767px) {
    .description-text {
        display: none;
    }
}
